
.treeDisplay{
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    right: 5px;
    background-color: var(--color-bg-surface);
}

.dragContainer{
    height: 100%;
}

.treeCanvas{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-surface);

}

.nodesContainer{
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
}